<h1>Listing pujas</h1>

<table>
  <thead>
    <tr>
      <th>Id subasta</th>
      <th>Pujador</th>
      <th>Valor</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pujas.each do |puja| %>
      <tr>
        <td><%= puja.id_subasta %></td>
        <td><%= puja.pujador %></td>
        <td><%= puja.valor %></td>
        <td><%= puja.fecha %></td>
        <td><%= link_to 'Show', puja %></td>
        <td><%= link_to 'Edit', edit_puja_path(puja) %></td>
        <td><%= link_to 'Destroy', puja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Puja', new_puja_path %>
