<p id="notice"><%= notice %></p>

<p>
  <strong>Id subasta:</strong>
  <%= @puja.id_subasta %>
</p>

<p>
  <strong>Pujador:</strong>
  <%= @puja.pujador %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @puja.valor %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @puja.fecha %>
</p>

<%= link_to 'Edit', edit_puja_path(@puja) %> |
<%= link_to 'Back', pujas_path %>
