<%= form_for(@compraventum) do |f| %>
  <% if @compraventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compraventum.errors.count, "error") %> prohibited this compraventum from being saved:</h2>

      <ul>
      <% @compraventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_coche %><br>
    <%= f.number_field :id_coche %>
  </div>
  <div class="field">
    <%= f.label :comprador %><br>
    <%= f.number_field :comprador %>
  </div>
  <div class="field">
    <%= f.label :fecha_publicacion %><br>
    <%= f.datetime_select :fecha_publicacion %>
  </div>
  <div class="field">
    <%= f.label :fecha_compra %><br>
    <%= f.datetime_select :fecha_compra %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.number_field :precio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
