<h1>Listing compraventa</h1>

<table>
  <thead>
    <tr>
      <th>Id coche</th>
      <th>Comprador</th>
      <th>Fecha publicacion</th>
      <th>Fecha compra</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compraventa.each do |compraventum| %>
      <tr>
        <td><%= compraventum.id_coche %></td>
        <td><%= compraventum.comprador %></td>
        <td><%= compraventum.fecha_publicacion %></td>
        <td><%= compraventum.fecha_compra %></td>
        <td><%= compraventum.precio %></td>
        <td><%= link_to 'Show', compraventum %></td>
        <td><%= link_to 'Edit', edit_compraventum_path(compraventum) %></td>
        <td><%= link_to 'Destroy', compraventum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compraventum', new_compraventum_path %>
