<h1>Listing alquilers</h1>

<table>
  <thead>
    <tr>
      <th>Id coche</th>
      <th>Alquilador</th>
      <th>Fecha ini anuncio</th>
      <th>Fecha fin anuncio</th>
      <th>Fecha ini alquiler</th>
      <th>Fecha fin alquiler</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alquilers.each do |alquiler| %>
      <tr>
        <td><%= alquiler.id_coche %></td>
        <td><%= alquiler.alquilador %></td>
        <td><%= alquiler.fecha_ini_anuncio %></td>
        <td><%= alquiler.fecha_fin_anuncio %></td>
        <td><%= alquiler.fecha_ini_alquiler %></td>
        <td><%= alquiler.fecha_fin_alquiler %></td>
        <td><%= alquiler.precio %></td>
        <td><%= link_to 'Show', alquiler %></td>
        <td><%= link_to 'Edit', edit_alquiler_path(alquiler) %></td>
        <td><%= link_to 'Destroy', alquiler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alquiler', new_alquiler_path %>
