<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :propietario %><br>
    <%= f.number_field :propietario %>
  </div>
  <div class="field">
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :año %><br>
    <%= f.number_field :año %>
  </div>
  <div class="field">
    <%= f.label :combustible %><br>
    <%= f.text_field :combustible %>
  </div>
  <div class="field">
    <%= f.label :cambio %><br>
    <%= f.text_field :cambio %>
  </div>
  <div class="field">
    <%= f.label :km %><br>
    <%= f.number_field :km %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
